# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 150
tab_width = 2

[*.md]
max_line_length = 0

[values.schema.json]
indent_size = 4
