{{- if not .Values.config.existingConfigmap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "postgres.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations:
    {{- include "postgres.annotations" . | nindent 4 }}
  {{- end }}
data:
  pg_hba.conf: |
{{- if .Values.config.pgHbaConfig }}
{{ .Values.config.pgHbaConfig | indent 4 }}
{{- else }}
    # Default pg_hba.conf configuration
    # TYPE  DATABASE        USER            ADDRESS                 METHOD

    # "local" is for Unix domain socket connections only
    local   all             all                                     trust
    # IPv4 local connections:
    host    all             all             127.0.0.1/32            trust
    # IPv6 local connections:
    host    all             all             ::1/128                 trust

    {{- if and .Values.replication.enabled (not .Values.replication.primary.host) }}
    # Replication
    {{- if .Values.replication.allowFrom.ipv4 }}
    host   replication     {{ .Values.replication.auth.username }}  {{ .Values.replication.allowFrom.ipv4 }} md5
    {{- end }}
    {{- if .Values.replication.allowFrom.ipv6 }}
    host   replication     {{ .Values.replication.auth.username }}  {{ .Values.replication.allowFrom.ipv6 }} md5
    {{- end }}
    {{- end }}

    # Allow connections from any host with password authentication
    host    all             all             all                     md5
{{- end }}
  postgresql.conf: |
    # PostgreSQL configuration file

    # Connection Settings
    listen_addresses = '*'
    {{/* All ternery conditions can be removed as soon as the old parameters are removed */}}
    max_connections = {{ ternary .Values.config.postgresqlMaxConnections .Values.config.postgresql.max_connections (gt (.Values.config.postgresqlMaxConnections | int) 0) }}

    # Memory Settings
    shared_buffers = {{ ternary .Values.config.postgresqlSharedBuffers .Values.config.postgresql.shared_buffers (ne .Values.config.postgresqlSharedBuffers "") }}
    effective_cache_size = {{ ternary .Values.config.postgresqlEffectiveCacheSize .Values.config.postgresql.effective_cache_size (ne .Values.config.postgresqlEffectiveCacheSize "") }}
    work_mem = {{ ternary .Values.config.postgresqlWorkMem .Values.config.postgresql.work_mem (ne .Values.config.postgresqlWorkMem "") }}
    maintenance_work_mem = {{ ternary .Values.config.postgresqlMaintenanceWorkMem .Values.config.postgresql.maintenance_work_mem (ne .Values.config.postgresqlMaintenanceWorkMem "") }}

    # Checkpoint Settings
    checkpoint_completion_target = {{ ternary .Values.config.postgresqlCheckpointCompletionTarget .Values.config.postgresql.checkpoint_completion_target (ne .Values.config.postgresqlCheckpointCompletionTarget "") }}

    # Query Planner Settings
    random_page_cost = {{ ternary .Values.config.postgresqlRandomPageCost .Values.config.postgresql.random_page_cost (ne .Values.config.postgresqlRandomPageCost "") }}

    # Logging Settings
    log_destination = '{{ .Values.config.postgresql.log_destination }}'
    logging_collector = {{ .Values.config.postgresql.logging_collector }}
    log_min_messages = {{ .Values.config.postgresql.log_min_messages }}
    log_min_error_statement = {{ .Values.config.postgresql.log_min_error_statement }}
    log_statement = {{ (ternary .Values.config.postgresqlLogStatement .Values.config.postgresql.log_statement (ne .Values.config.postgresqlLogStatement "")) | squote }}
    log_min_duration_statement = {{ (ternary .Values.config.postgresqlLogMinDurationStatement .Values.config.postgresql.log_min_duration_statement (ne .Values.config.postgresqlLogMinDurationStatement "")) | squote }}

    # Shared Libraries
    {{- if or .Values.config.postgresqlSharedPreloadLibraries .Values.config.postgresql.shared_preload_libraries }}
    shared_preload_libraries = {{ (ternary .Values.config.postgresqlSharedPreloadLibraries .Values.config.postgresql.shared_preload_libraries (ne .Values.config.postgresqlSharedPreloadLibraries "")) | squote }}
    {{- end }}
    
    # Locale and Formatting
    datestyle = '{{ .Values.config.postgresql.datestyle }}'
    timezone = '{{ .Values.config.postgresql.timezone }}'
    lc_messages = '{{ .Values.config.postgresql.locale }}'
    lc_monetary = '{{ .Values.config.postgresql.locale }}'
    lc_numeric = '{{ .Values.config.postgresql.locale }}'
    lc_time = '{{ .Values.config.postgresql.locale }}'
    default_text_search_config = '{{ .Values.config.postgresql.default_text_search_config }}'
    
    # Set pg_hba.conf file to use
    hba_file = '{{ include "postgres.configDir" . }}/pg_hba.conf'

    # WAL Settings
    wal_buffers = {{ ternary .Values.config.postgresqlWalBuffers .Values.config.postgresql.wal_buffers (ne .Values.config.postgresqlWalBuffers "") }}
    wal_level = {{ .Values.config.postgresql.wal_level }}

    {{- if .Values.replication.enabled }}
    {{- if not .Values.replication.primary.host }}

    # Replication primary configuration
    max_wal_senders = {{ .Values.config.postgresql.max_wal_senders }}
    wal_keep_size = {{ .Values.config.postgresql.wal_keep_size }}
    {{- else }}

    # Replication standby configuration
    primary_conninfo = 'host={{ tpl .Values.replication.primary.host . }} port={{ .Values.replication.primary.port }} user={{ .Values.replication.auth.username }} passfile={{ include "postgres.runDir" . }}/replication.pgpass'
    {{- end }}
    {{- end }}

    # Additional Configuration
    {{- range .Values.config.extraConfig }}
    {{ . }}
    {{- end }}
{{- end }}
