{{- $createCustomUser := and .Values.customUser (or .Values.customUser.name .Values.customUser.existingSecret) }}
{{- $appendInitdbScripts := and .Values.initdb.scripts (not .Values.initdb.scriptsConfigMap) }}
{{- $replicationPrimary := and .Values.replication.enabled (not .Values.replication.primary.host) }}
{{- if or $createCustomUser $appendInitdbScripts $replicationPrimary }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-init-scripts" (include "postgres.fullname" .) }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations:
    {{- include "postgres.annotations" . | nindent 4 }}
  {{- end }}
data:
  {{- if $createCustomUser }}
  00-init-custom-user.sh: |
    #!/bin/sh

    if [ -z "$CUSTOM_DB" ] && [ -z "$CUSTOM_USER" ] && [ -z "$CUSTOM_PASSWORD" ]; then
      echo "No custom user configuration found, skipping..."
      exit 0
    fi

    set -e
    echo "Creating custom user: $CUSTOM_USER and database: $CUSTOM_DB"

    psql -v ON_ERROR_STOP=1 --dbname "$POSTGRES_DB" --username "$POSTGRES_USER" -v DATABASENAME="$CUSTOM_DB" -v USERNAME="$CUSTOM_USER" -v PASSWORD="$CUSTOM_PASSWORD" <<-EOSQL
      SELECT quote_ident(:'USERNAME') AS uname \gset
      SELECT quote_ident(:'DATABASENAME') AS udb \gset
      SELECT quote_literal(:'PASSWORD') AS upass \gset

      CREATE USER :uname WITH PASSWORD :upass;
      CREATE DATABASE :udb;
      GRANT ALL PRIVILEGES ON DATABASE :udb TO :uname;
      ALTER DATABASE :udb OWNER TO :uname;
    EOSQL

    echo "✅ Custom user and database created successfully!"
  {{- end }}
  {{- if and $replicationPrimary .Values.replication.createUser }}
  00-replication-primary-setup.sh: |
    #!/bin/sh
    set -e

    if [ -z "${REPLICATION_USER}" ] || [ -z "${REPLICATION_PASSWORD}" ]; then
      echo "⛔️ No credentials configured. Aborting"
      exit 1
    fi

    PGUSER="${POSTGRES_USER}" psql -v ON_ERROR_STOP=1 -v REPL_USER="${REPLICATION_USER}" -v REPL_PASS="${REPLICATION_PASSWORD}" <<'EOSQL'
      SELECT quote_ident(:'REPL_USER') AS user \gset
      SELECT quote_literal(:'REPL_PASS') AS pass \gset

      CREATE ROLE :user WITH REPLICATION LOGIN PASSWORD :pass;
    EOSQL

    echo "✅ Replication user created"
  {{- end }}
  {{- if $appendInitdbScripts }}
  {{- include "cloudpirates.tplvalues.render" (dict "value" .Values.initdb.scripts "context" .) | nindent 2 }}
  {{- end }}
{{- end }}
