{{- if .Values.metrics.enabled }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "mariadb.fullname" . }}-init-exporter-user
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mariadb.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  initMetricsUser.sh: |
    #!/bin/bash
    mariadb -uroot -p"${MARIADB_ROOT_PASSWORD}" <<EOF
    CREATE USER IF NOT EXISTS 'exporter'@'localhost' IDENTIFIED BY '${MYSQLD_EXPORTER_PASSWORD}' WITH MAX_USER_CONNECTIONS 3;
    GRANT PROCESS, REPLICATION CLIENT, SLAVE MONITOR, SELECT ON *.* TO 'exporter'@'localhost';
    CREATE USER IF NOT EXISTS 'exporter'@'127.0.0.1' IDENTIFIED BY '${MYSQLD_EXPORTER_PASSWORD}' WITH MAX_USER_CONNECTIONS 3;
    GRANT PROCESS, REPLICATION CLIENT, SLAVE MONITOR, SELECT ON *.* TO 'exporter'@'127.0.0.1';
    CREATE USER IF NOT EXISTS 'exporter'@'::1' IDENTIFIED BY '${MYSQLD_EXPORTER_PASSWORD}' WITH MAX_USER_CONNECTIONS 3;
    GRANT PROCESS, REPLICATION CLIENT, SLAVE MONITOR, SELECT ON *.* TO 'exporter'@'::1';
    FLUSH PRIVILEGES;
    EOF
{{- end }}