{{ $plugins := compact (list "") }}
{{- if .Values.peerDiscoveryK8sPlugin.enabled }}
{{ $plugins = append $plugins "rabbitmq_peer_discovery_k8s" }}
{{- end }}
{{- if .Values.managementPlugin.enabled }}
{{ $plugins = append $plugins "rabbitmq_management" }}
{{- end }}
{{- if .Values.metrics.enabled }}
{{ $plugins = append $plugins "rabbitmq_prometheus"}}
{{- end }}
{{- if .Values.additionalPlugins }}
{{ $plugins = concat $plugins .Values.additionalPlugins }}
{{- end }}
{{- if .Values.installPlugins }}
{{- range .Values.installPlugins }}
{{ $plugins = append $plugins (include "rabbitmq.pluginName" .) }}
{{- end }}
{{- end }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rabbitmq.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "rabbitmq.labels" . | nindent 4 }}
  {{- with (include "rabbitmq.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
data:
  rabbitmq.conf: |
    # Default RabbitMQ configuration
    loopback_users.guest = false
    listeners.tcp.default = {{ .Values.service.amqpPort }}

    {{- if .Values.managementPlugin.enabled }}
    # Management plugin options
    management.tcp.port = {{ .Values.service.managementPort }}
    {{- end }}

    {{- if .Values.peerDiscoveryK8sPlugin.enabled }}
    # Clustering with K8s peer discovery plugin
    cluster_name = {{ include "rabbitmq.fullname" . }}-cluster
    cluster_formation.peer_discovery_backend = rabbit_peer_discovery_k8s
    cluster_formation.k8s.host = kubernetes.default.svc.{{ .Values.clusterDomain }}
    cluster_formation.k8s.address_type = {{ .Values.peerDiscoveryK8sPlugin.addressType }}
    cluster_formation.k8s.service_name = {{ include "rabbitmq.fullname" . }}-headless
    cluster_formation.k8s.hostname_suffix = .{{ include "rabbitmq.fullname" . }}-headless.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }}
    {{- end }}


    {{- if .Values.config.memoryHighWatermark.enabled }}
    # Memory configuration
    # Note: Large absolute values should be specified as strings (e.g., "8GB" or "8590000000")
    # to avoid scientific notation conversion by YAML (e.g., 8e+9)
    {{- if and (eq .Values.config.memoryHighWatermark.type "relative") .Values.resources.limits .Values.resources.limits.memory }}
    # Override available memory calculation to use container memory limit instead of node memory
    # This ensures relative memory watermark is calculated based on container limits
    total_memory_available_override_value = {{ .Values.resources.limits.memory }}
    {{- end }}
    vm_memory_high_watermark.{{ .Values.config.memoryHighWatermark.type }} = {{ .Values.config.memoryHighWatermark.value }}
    {{- end }}

    {{- if .Values.metrics.enabled }}
    # Prometheus metrics
    prometheus.tcp.port = {{ .Values.metrics.port }}
    {{- end }}

    {{- if .Values.definitions.enabled }}
    {{- if .Values.definitions.autoReload.enabled }}
    management.load_definitions = /etc/rabbitmq-definitions/{{- if .Values.definitions.existingConfigMap }}{{ .Values.definitions.existingConfigMapKey | default "defs.json" }}{{- else if .Values.definitions.existingSecret }}{{ .Values.definitions.existingSecretKey | default "defs.json" }}{{- else }}defs.json{{- end }}
    {{- else }}
    management.load_definitions = /etc/rabbitmq-definitions/defs.json
    {{- end }}
    {{- end }}

    {{- if .Values.queueBalancing.enabled }}
    # Queue Balancing and Distribution Configuration
    {{- if .Values.queueBalancing.queueLeaderLocator }}
    queue_leader_locator = {{ .Values.queueBalancing.queueLeaderLocator }}
    {{- end }}
    {{- if .Values.queueBalancing.clusterFormation.targetClusterSizeHint }}
    cluster_formation.target_cluster_size_hint = {{ .Values.queueBalancing.clusterFormation.targetClusterSizeHint }}
    {{- end }}
    {{- if .Values.queueBalancing.quorumQueues.continuousMembershipReconciliation.enabled }}
    quorum_queue.continuous_membership_reconciliation.enabled = true
    {{- if .Values.queueBalancing.quorumQueues.continuousMembershipReconciliation.targetGroupSize }}
    quorum_queue.continuous_membership_reconciliation.target_group_size = {{ .Values.queueBalancing.quorumQueues.continuousMembershipReconciliation.targetGroupSize }}
    {{- end }}
    quorum_queue.continuous_membership_reconciliation.interval = {{ .Values.queueBalancing.quorumQueues.continuousMembershipReconciliation.interval | int }}
    {{- if .Values.queueBalancing.quorumQueues.continuousMembershipReconciliation.triggerInterval }}
    quorum_queue.continuous_membership_reconciliation.trigger_interval = {{ .Values.queueBalancing.quorumQueues.continuousMembershipReconciliation.triggerInterval | int }}
    {{- end }}
    {{- end }}
    {{- end }}

    # Logging configuration
    log.console = {{ .Values.config.logging.console.enabled }}
    {{- if .Values.config.logging.console.enabled }}
    log.console.level = {{ .Values.config.logging.level }}
    {{- end }}
    {{- if .Values.config.logging.file.enabled }}
    log.file = true
    log.file.level = {{ .Values.config.logging.level }}
    {{- else }}
    log.file = false
    {{- end }}

    {{- if and .Values.config.extraConfiguration (ne .Values.config.extraConfiguration "") }}
    # Extra configuration
{{ .Values.config.extraConfiguration | indent 4 }}
    {{- end }}

  {{- if and .Values.config.advancedConfiguration (ne .Values.config.advancedConfiguration "") }}
  advanced.config: |
{{ .Values.config.advancedConfiguration | indent 4 }}
  {{- end }}
  enabled_plugins: |
    [{{- join "," $plugins }}].
